<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NKShare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <NKShare.Properties.Settings>
            <setting name="RouterAcc" serializeAs="String">
                <value/>
            </setting>
            <setting name="RouterPwd" serializeAs="String">
                <value/>
            </setting>
            <setting name="NetPwd" serializeAs="String">
                <value/>
            </setting>
            <setting name="NetAcc" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseMac" serializeAs="String">
                <value/>
            </setting>
            <setting name="ChooseUseMacType" serializeAs="String">
                <value>0</value>
            </setting>
        </NKShare.Properties.Settings>
    </userSettings>
</configuration>
